#main
{
    /*margin-left: 15%;
    margin-right: 15%;*/
    background-color: white;
}
.jumbotron
{
    /*background-color: rgba(0, 0, 0, 0.58);*/
    background-color: black;
}

/*.center
{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}*/

body
{
    background-color: black;
}

h1.display-4
{
    /*font-weight: 300;*/
    color: black;

}

h2.display-4
{
    color: white;
}

.btn-primary
{
    background-color: black;
    border-color: white;
}
