#main
{
    background-color: white;
    padding-bottom: 3em;
}
.jumbotron
{
    background-color: lightsteelblue;
}

/*body
{
    background-color: black;
}*/

h1.display-4
{
    /*font-weight: 300;*/
    color: black;

}

h2.display-4
{
    color: white;
}

.btn-primary
{
    background-color: lightblue;
    border-color: white;
}

input#save
{
    background-color: lightblue;
    border-color: white;
}

.form-group
{
    font-weight: bold;
}
