#main
{
    background-color: white;
    padding-bottom: 3em;
    font-size: 12px;
}

body
{
    background-color: lightsteelblue;
}

.jumbotron
{
    background-color: lightsteelblue;
}

/*body
{
    background-color: black;
}*/

h1.display-4
{
    /*font-weight: 300;*/
    color: black;

}

h2.display-4
{
    color: white;
}

a.btn.btn-info.btn-lg
{
    background-color: lightblue;
    border-color: white;
}

a#generate.btn.btn-primary
{
    background-color: lightblue;
    border-color: white;
}

button.btn-primary
{
    background-color: lightblue;
    border-color: white;
    border-radius: 8px;
    padding: 20px;
}

.form-group
{
    font-weight: bold;
}



/*#print
{
    padding-bottom: 3em;
}*/
